
<header class="main-navbar">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Anasayfa", "Home")">
                <img src="~/Content/images/logo/logo3.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Anasayfa", "Home")">Anasayfa</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Kurumsal", "Home")">Kurumsal</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link" href="@Url.Action("ReverseOsmosisCihazlar", "Urunler")">Ürünler<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("ReverseOsmosisCihazlar", "Urunler")">Endüstriyel Reverse Osmosis</a>
                                <a class="dropdown-item" href="@Url.Action("KapaliKasaCihazlar", "Urunler")">Kapalı Kasa Cihazlar</a>
                                <a class="dropdown-item" href="@Url.Action("AcikKasaCihazlar", "Urunler")">Açık Kasa Cihazlar</a>
                                <a class="dropdown-item" href="@Url.Action("Filtreler", "Urunler")">Filtreler</a>
                                <a class="dropdown-item" href="@Url.Action("UvFiltreler", "Urunler")">UV(Ultraviole) Filtre</a>
                            </div>
                        </li>
                        
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Iletisim", "Home")">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
